@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 align="center">@ViewData["Title"]</h1>

<p>
    <b>Politica de Confidențialitate:</b>
    <ul>
        <li><b>Colectarea Informațiilor Personale:</b> Informațiile personale, cum ar fi nume, adresă și date de contact, vor fi colectate doar în scopul procesării comenzilor și furnizării serviciilor.</li>
        <li><b> Protecția Informațiilor:</b> Utilizăm măsuri tehnice și organizatorice pentru a asigura securitatea informațiilor tale personale și protejarea împotriva accesului neautorizat sau utilizării incorecte.</li>
    
</ul>
    <b>Termeni și Condiții:</b>
    <ul>
        <li><b>Utilizarea Site-ului:</b> Accesul și utilizarea site-ului nostru sunt supuse acestor termeni și condiții. Prin utilizarea site-ului, ești de acord cu aceste reguli.</li>
    </ul> 
    <b>Politica de Livrare și Transport:</b>
    <ul>
        <li><b>Livrare:</b> Oferim opțiuni de livrare cu tarife variabile în funcție de locație. Durata estimată de livrare este specificată în timpul procesului de comandă.</li>
        <li><b>Returnare și Schimb:</b> Detaliile privind returnarea și schimbul produselor sunt disponibile în secțiunea dedicată din politica noastră de retur.</li>
    </ul>
    <b>Politica de Garanție și Service:</b>
    <ul>
        <li><b>Garanție:</b> Toate produsele noastre beneficiază de o garanție limitată. Detalii suplimentare despre termenii și condițiile garanției sunt disponibile la achiziționare.</li>
        <li><b>Service și Reparații:</b> Oferim servicii de service și reparații pentru produsele achiziționate de la noi. Detalii suplimentare sunt disponibile prin contactarea serviciului nostru de relații cu clienții.</li>
    </ul>
    <b>Politica de Retur și Rambursare:</b>
    <ul>
        <li><b> Returnare:</b> Dacă nu ești complet satisfăcut, poți returna produsul în termen de 30 de zile de la primire. Produsul trebuie să fie în condiții originale pentru a beneficia de returnare.</li>
        <li><b>Rambursare:</b> Rambursările vor fi procesate în termen de 14 zile lucrătoare de la primirea produsului returnat.</li>
    </ul>
    <b>Securitatea Plăților:</b>
    <ul>
        <li><b>Securitatea Plăților:</b> Plățile online sunt securizate cu tehnologii de criptare avansate. Nu stocăm informațiile tale de card de credit după finalizarea tranzacției.</li>
    </ul>
    <b>Politica de Prețuri:</b>
    <ul>
        <li><b>Stabilirea Prețurilor:</b> Prețurile produselor noastre sunt stabilite în funcție de factori cum ar fi costul de producție, cererea pe piață și concurența.</li>
        <li><b>Reduceri și Promoții:</b> Reducerile și promoțiile periodice vor fi publicate pe site.</li>
    </ul>
    <b>Politica de Feedback și Recenzii:</b>
    <ul>
    <li><b>Feedback și Recenzii:</b> Încurajăm clienții să împărtășească experiențele lor. Respingem limbajul ofensator și ne rezervăm dreptul de a elimina recenzii care încalcă aceste norme.</li>
    </ul>
    <b>Politica de Reclamații și Suport:</b>
    <ul>
    <li><b>Contact:</b> Pentru întrebări, reclamații sau asistență, te rugăm să ne contactezi prin intermediul paginii noastre de contact. Vom răspunde în cel mai scurt timp posibil.</li>
    </ul>
    <b>Drepturile de Proprietate Intelectuală:</b>
    <ul>
        <li><b>Drepturi de Autor și Mărci Comerciale:</b> Toate drepturile de autor și mărcile comerciale asociate cu produsele noastre sunt proprietatea noastră și a partenerilor noștri. Utilizarea neautorizată este interzisă.</li>
    </ul>
</p>
