<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Comanda plasata cu succes</h2>
        <p>Te mai asteptam!</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>