html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: red;
    background-color: black;
    align-items: center;
}

.table th{
    color:red;
    font-style:italic;
    font-family: Calibri;
}

.table td {
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  
    padding: 10px 0; 
}