html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color:red;
  background-color:black;
}

.table th{
    color:red;
    font-style:italic;
    font-family: Calibri;
}

.table td {
    color: white;
}

